@using System.Globalization

<div class="ch-clearfix">
    <div class="ch-message-data @(IsRight ? "align-right" : "")">
        <span class="ch-message-data-name" style="color:@TextColor">@Name</span> <i class="fa fa-circle me"></i>
        @if (DateMessage != null)
        {
            @($"{DateMessage.ToString("hh:mm tt", CultureInfo.InvariantCulture)}, {(DateMessage.Date == DateTime.Today ? "Today" : $"{DateMessage.Date:MMMM dd}")}")
        }
        else
        {
            <span>Invalid Date</span>
        }
    </div>
    @if (IsRight)
    {
        <div class="ch-message ch-my-message ch-float-right" style="color:@MessageTextColorRight; background:@MessageBackgroundColorRight;">
            @if (!string.IsNullOrEmpty(Link))
            {

                <iframe src=@Link width="150" frameborder="0" allowfullscreen />

                <br />
            }
            <span>@Message</span><br/>
        </div>
    }
    else
    {
        <div class="ch-message ch-other-message" style="color:@MessageTextColorLeft;background:@MessageBackgroundColorLeft;">
            @if (!string.IsNullOrEmpty(Link))
            {

                <iframe src=@Link width="150" frameborder="0" allowfullscreen />

                <br />
            }
            <span>@Message</span>
        </div>
    }
</div>

<style>

    .ch-message-data {
        margin-bottom: 5px;
    }

    .ch-message-data-time {
        padding-left: 6px;
    }

    .ch-message {
        padding: 18px 20px;
        line-height: 26px;
        font-size: 16px;
        border-radius: 7px;
        margin-bottom: 30px;
        width: auto;
        max-width: 70%;
        position: relative;
        word-wrap: break-word; 
        word-break: break-word; 
        overflow-wrap: break-word;
    }


    .ch-align-right {
        text-align: right;
    }

    .ch-float-right {
        float: right;
    }

    .ch-clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

</style>

@code{
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public string Link { get; set; }

    [Parameter]
    public DateTime DateMessage { get; set; }

    [Parameter]
    public bool IsRight { get; set; }

    [Parameter]
    public string TextColor { get; set; } = "#000";

    [Parameter]
    public string MessageTextColorRight { get; set; } = "white";

    [Parameter]
    public string MessageTextColorLeft { get; set; } = "orange";

    [Parameter]
    public string MessageBackgroundColorRight { get; set; } = "red";

    [Parameter]
    public string MessageBackgroundColorLeft { get; set; } = "#000";
}
