
<div class="checkbox-input">
    <Microsoft.AspNetCore.Components.Forms.InputCheckbox    Value="@Value"
                                                            ValueChanged="@OnValueChanged"
                                                            ValueExpression="@(() => Value)"
                                                            AdditionalAttributes="@additionalAttributes" />

    <label class="ch-checkbox-label" style="
        color: @TextColor;" for="@Id">@Label</label>
</div>

<style>

    .ch-checkbox-input {
        height: 16px;
        width: 16px;
        cursor: pointer;
    }

    .ch-checkbox-label {
        cursor: pointer;
        padding-left: 0.63rem;
    }
</style>

@code {

    private Dictionary<string, object> additionalAttributes = new Dictionary<string, object>();

    [Parameter]
    public bool Value { get; set; }

    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }

    [Parameter]
    public string Id { get; set; } = Guid.NewGuid().ToString();

    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public string TextColor { get; set; } = "#000";

    protected override void OnParametersSet()
    {
        additionalAttributes["class"] = "ch-checkbox-input";
        additionalAttributes["id"] = Id;
    }

    private async Task OnValueChanged(bool newValue)
    {
        Value = newValue;
        await ValueChanged.InvokeAsync(newValue);
    }
}
